<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523403492550-dsfhjri790cb1gq84djh4be5kv0hu3db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523403492550-dsfhjri790cb1gq84djh4be5kv0hu3db</string>
	<key>API_KEY</key>
	<string>AIzaSyDaA-PBjR8PEOkpC9kzcyjkrEsu_17RDD8</string>
	<key>GCM_SENDER_ID</key>
	<string>523403492550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esinentinc.MysteryConnect</string>
	<key>PROJECT_ID</key>
	<string>mysteryconnect-d89aa</string>
	<key>STORAGE_BUCKET</key>
	<string>mysteryconnect-d89aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523403492550:ios:8f0212fcec1732bdbaabc7</string>
</dict>
</plist>